.main {
    height: 95%;
    width: 100%;
    justify-content: center;
    background-color: #f9f9f9;
}

.main__heading{
    margin: 0 auto;
    padding: 30px 0px 10px;
    width: 50%;
    font-size: 28px;
}

.form {
    margin: 0 auto;
    width: 50%;
}

.form__label--item {
    color: #000000;
}

.form__label--required {
    padding: 0px 7px;
    background: #ff0000;
    color: #ffffff;
    font-size: 13px;
}

.form__label--required-notice {
    padding: 0px 5px;
    color: #ff0000;
    font-size: 12px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input,
.form__input--textarea textarea {
    margin: 10px 5px;
    padding: 5px;
    width: 100%;
    height: 35px;
    border: solid #d0d0d0 1px;
    border-radius: 3px;
    appearance: none;
    font-size: 10px;
}
.form__input--textarea textarea {
    height: 180px;
}

.form__input--check {
    margin-top: 15px;
}
.form__input--check label {
    margin-right: 45px;
}
.form__input--check input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    height: 16px;
    width: 16px;
}
.form__input--check input:checked {
    background-color: #555;
    border: 2px solid #555;
}
.form__input--check input:checked::before {
    content: "✔";
    font-size: 12px;
    color: white;
    position: relative;
    top: -2px;
    left: 1px;
}

.form__button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__button-back {
    margin: 7.5px;
    padding: 10px;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: #d0d0d0;
    color: #000000;
    cursor: pointer;
    box-shadow: 1px 1px 3px #d0d0d0;
}
.form__button-submit {
    margin: 7.5px;
    padding: 10px;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: #FFCF00;
    color: #000000;
    cursor: pointer;
    box-shadow: 1px 1px 3px #d0d0d0;
}